#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* לעשות ערכת נושא בתוך עוד קומפוננטה*/
    border: 2px solid black;
    /* background-color: ; */

}

#AuthHeader {

}


#customLogin {
    border-radius: 25px;
}

/* כל השדות של הכפתורים */
.textLogin {
    border: 3px solid black;
    border-radius: 10px;
    flex-direction: row;
}
.emailLoginRegular{
    display: none;
}
